/* HTML ELEMENTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    outline: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

a:enabled{
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}

h1{
    font-size: 20px;
    color: whitesmoke;
}

button{
    background-color:  rgba(0, 0, 0, 0.199);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

/* CLASSES */

.active{
    color: rgb(81, 181, 248);
    font-weight: bold;
}

.container{
    display: grid;
    height: 100vh;
    width: 100vw;

    background-color: #333;

    grid-template-rows: 50px 1fr;
    justify-content: center;
    align-content: center;
}

.nav{
    background-color: #444;
    border-bottom: 1px solid gray;

    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exercise{
    display: grid;

    grid-template-rows: 1fr 100px 100px;

    height: 70vh;
    margin-top: 20px;
    width: 100vw;
}

.game{
    background-color: #444;
    display: grid;

    grid-template-rows: 150px 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.sorter{
    background-color: #555;
    border-top: 1px solid #333;

    display: grid;
    grid-template-columns: repeat(9, 1fr);

    gap: 10px;
    padding: 10px;
    justify-content: center;
}

    .array-item{
        display: grid;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.199);
        border-radius: 20px;
        max-width: 150px;

        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .sorted{
        cursor: default;
        display: none;
    }

    .array-item-desc{
        font-size: 30px;
        color: white;
        cursor: default;
        display: grid;
        align-items: center;
        justify-content: right;
        padding-right: 20px;
    }

    .sorted-item{
        color: rgba(255, 255, 255, 0.15);
        display: none;
    }

    .active-item1, .card1{
        border: 3px solid salmon;
    }
    .active-item2, .card2{
        border: 3px solid lightskyblue;
    }

.description{
    text-align: left;
    color: white;

    padding-left: 20px;
    padding-right: 20px;

    width: 90vw;
}

.active-order{
    border: 3px solid white;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

    .card1, .card2{
        text-align: center;
        display: grid;
        background: rgba(0, 0, 0, 0.199);
        height: 400px;
        color: white;

        align-items: center;
        font-size: 150px;
        border-radius: 20px;

        transition: 0.5s;
    }

    .card1:hover, .card2:hover{
        transform: scale(0.9);
        opacity: 0.9;
        cursor: pointer;
    }

.request{
    margin-bottom: 5px;
}

/* IDS */

#instruction{
    width: 100%;
    text-align: center;

    font-size: 35px;
}

#compare{
    text-decoration: underline;
}